.card-img-top {
  width: 15rem;
  height: 10rem;
  object-fit: cover;
}

.card-body {
  width: 15rem;
  height: 10rem;
  object-fit: cover;
}

.heartButton {
  color: red;
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

