body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "FF Real Head", "Lato",
    "Arial", "Sans serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
